<% layout('/layouts/default.html', {title: 'employee管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa icon-notebook"></i> ${text('employee管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('employee:tyuangong:edit')){ %>
					<a href="${ctx}/employee/tyuangong/form" class="btn btn-default btnTool" title="${text('新增employee')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
				<a href="#" class="btn btn-default" id="btnSetting" title="${text('设置')}"><i class="fa fa-navicon"></i></a>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${tyuangong}" action="${ctx}/employee/tyuangong/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('部门号')}：</label>
					<div class="control-inline">
						<#form:input path="orgId" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('姓名')}：</label>
					<div class="control-inline">
						<#form:input path="name" maxlength="50" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('性别')}：</label>
					<div class="control-inline">
						<#form:input path="sex" maxlength="50" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('年龄')}：</label>
					<div class="control-inline">
						<#form:input path="age" maxlength="50" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('职位')}：</label>
					<div class="control-inline">
						<#form:input path="zhiwei" maxlength="50" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('是否部门经理')}：</label>
					<div class="control-inline">
						<#form:input path="shifoubumenlingdao" maxlength="50" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('登录名')}：</label>
					<div class="control-inline">
						<#form:input path="loginname" maxlength="50" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('密码')}：</label>
					<div class="control-inline">
						<#form:input path="loginpw" maxlength="50" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("部门号")}', name:'orgId', index:'a.org_id', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/employee/tyuangong/form?id='+row.id+'&eid='+row.eid+'" class="btnList" data-title="${text("编辑employee")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("姓名")}', name:'name', index:'a.name', width:150, align:"left"},
		{header:'${text("性别")}', name:'sex', index:'a.sex', width:150, align:"left"},
		{header:'${text("年龄")}', name:'age', index:'a.age', width:150, align:"left"},
		{header:'${text("职位")}', name:'zhiwei', index:'a.zhiwei', width:150, align:"left"},
		{header:'${text("是否部门经理")}', name:'shifoubumenlingdao', index:'a.shifoubumenlingdao', width:150, align:"left"},
		{header:'${text("登录名")}', name:'loginname', index:'a.loginname', width:150, align:"left"},
		{header:'${text("密码")}', name:'loginpw', index:'a.loginpw', width:150, align:"left"},
		{header:'${text("操作")}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('employee:tyuangong:edit')){ %>
				actions.push('<a href="${ctx}/employee/tyuangong/form?id='+row.id+'&eid='+row.eid+'" class="btnList" title="${text("编辑employee")}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/employee/tyuangong/delete?id='+row.id+'&eid='+row.eid+'" class="btnList" title="${text("删除employee")}" data-confirm="${text("确认要删除该employee吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>